*{
    box-sizing: border-box;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

body{
    background: #262a5f;
}

.container{
    width: 400px;
    position: absolute;
    padding: 25px 35px;
    left: 50%;
    top: 50%;
    background: #adb5bd;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

.container p{
    font-size: 15px;
    margin-bottom: 8px;
    font-weight: 600;
}

.container input{
    height: 50px;
    width: 100%;
    outline: 0;
    border: 1px solid #494eea;
    margin: 10px 0 20px;
    border-radius: 5px;
    padding: 10px;
}

.container button{
    height: 50px;
    width: 100%;
    background-color: #494eea;
    font-weight: 500;
    border: 0;
    color: #fff;
    outline: 0;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin: 20px 0;
    cursor: pointer;
}

#imageBox{
    max-height: 0;
    width: 200px;
    overflow: hidden;
    transition: max-height 1s;
    border-radius: 5px;
}

#imageBox img{
    padding: 10px;
    width: 100%;
}

#imageBox.show-img{
    max-height: 300px;
    border: 1px solid #d1d1d1;
    margin: 10px auto;
}

.danger{
    animation: shake 0.1s linear 10;
}

@keyframes shake {
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(-2px);
    }
    50%{
        transform: translateX(0);
    }
    75%{
        transform: translateX(2px);
    }
    100%{
        transform: translateX();
    }
}